<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        heading
    </title>
</head>

<body>

    <%= people %>

        <h1>
            <%= event.heading %>

        </h1>
        <img src="<%= event.img1 %>" alt="Event Image">
        <p>
            <%= event.body %>
        </p>

        <p>
            <%= event.category %>
        </p>



        <p><a href="/events">Back to events</a></p>
</body>

</html>